/* Common styles for different screen sizes */
.display-time {
  /* display: flex; */
  /* justify-content: center; */

  color: #000000;

  background: #14f304;
  font-size: 1rem;
  font-weight: bold;
  /* border: 1px solid #000000; */
  /* margin-bottom: 20px; */
  padding: 5px 10px;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
  transition-property: background, box-shadow, color;
  -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.09));
}

.display-time:hover {
  background: #ff0329;
  box-shadow: 0 0 30px #ffffff;
  color: #030303;
  cursor: pointer;
}

/* Responsive styles using media queries */
@media (max-width: 768px) {
  .display-time {
    font-size: 1.5rem;
    text-align-last: center;
  }
}

@media (max-width: 480px) {
  .display-time {
    font-size: 1.2rem;
    padding: 8px 16px;
    text-align-last: center;
  }
}
